
ClothesFactoryStoreEAR/.settings/org.eclipse.wst.common.project.facet.core.xml
ClothesFactoryStoreEAR/.settings/org.eclipse.wst.common.component
ClothesFactoryStoreEAR/.settings/oracle.eclipse.tools.weblogic.dependencies.xml
ClothesFactoryStoreEAR/.settings/com.ibm.etools.common.migration.prefs
ClothesFactoryStoreEAR/.project
Documentacion/~$cumentaciónAplicación.docx
ClothesFactoryStore/.project
ClothesFactoryStore/.settings/.jsdtscope
ClothesFactoryStore/.settings/com.ibm.etools.common.migration.prefs
ClothesFactoryStore/.settings/oracle.eclipse.tools.jaxrs.ui.prefs
ClothesFactoryStore/.settings/org.eclipse.jdt.core.prefs
ClothesFactoryStore/.settings/org.eclipse.wst.common.component
ClothesFactoryStore/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
ClothesFactoryStore/.settings/org.eclipse.wst.common.project.facet.core.xml
ClothesFactoryStore/.settings/org.eclipse.wst.jsdt.ui.superType.container
ClothesFactoryStore/.settings/org.eclipse.wst.jsdt.ui.superType.name
ClothesFactoryStore/.settings/org.eclipse.wst.validation.prefs
